<!-- <footer class="text-center bg-danger fs-4 fw-bold">Joan Díaz - Monlau - 2023</footer> -->
<footer class="text-center bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-md-6 fs-6 fw-bold colorLetra mt-3">
          <h3>Contact Information</h3>
          <div>Email: 
            <a class="colorLetra" href="mailto:ejemplo@ejemplo.com">oxygengym@gmail.com</a>
          </div>
          <div>Phone: 936 55 11 53</div>
          <div>Address: Carrer de la Verneda, 66, 08107 Martorelles, Barcelona</div>
        </div>
        <div class="col-md-6 fs-6 fw-bold colorLetra mt-3">
          <h3>Useful links</h3>
          <ul class="list-unstyled">
            <li>
              <a class="colorLetra" href="#">About Us</a><!--[routerLink]="['AboutUs']"-->
            </li> 
            <li><a class="colorLetra" href="#">Privacy politics</a></li>
            <li><a class="colorLetra" href="#">Terms and conditions</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="copy">
      <div class="container">
        <div class="row">
          <div class="col-md-12 fs-4 fw-bold colorLetra">
            <p>&copy; Joan Díaz - Monlau - 2023 All rights reserved</p>
          </div>
        </div>
      </div>
    </div>
  </footer>
  